:root {
    --goss_darkteal: #007899;
    --goss_teal: #159391;
    --goss_pink: #ff80a4;
    --goss_shadepink: #ff5e94;
    --goss_hotpink: #ff2674;
    --goss_skyblue: #68aed4;
    --goss_angelblue: #1e398f;
    --goss_nightblue: #192752;
    --goss_lightteal: #10d275;
    --goss_skinpurple: #94216a;
    --goss_darkpurple: #430067;
    --goss_darkgrey: #272c2f;
}

html {
    background-color: var(--goss_darkteal);

    font-size: 150%;
    font-weight: bold;
}

body {
    color: var(--goss_pink);
    margin-left: 5%;
}

h1, h2, h4 {
    text-decoration: overline;
}

a h3 {
    text-decoration: overline;
}

a {
    text-decoration: overline;
    color: var(--goss_pink);
}
a:visited {
    color: var(--goss_skinpurple);
}

.mainPost {
    background-color: var(--goss_pink);
    color: var(--goss_darkteal);
    border: 5px solid var(--goss_lightteal);

    max-width: 50%;
    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.mainPost h2 {
    margin-top: 0;
}
.mainPost h3 {
    font-style: italic;
    margin-bottom: 0;
}
.mainPost a {
    color: var(--goss_skinpurple)
}

.blogPost {
    background-color: var(--goss_pink);
    color: var(--goss_darkteal);
    border: 5px solid var(--goss_lightteal);

    max-width: 50%;
    min-width: 50%;
    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.blogPost h2 {
    margin-bottom: 0;
}
.blogPost h3 {
    font-style: italic;
    margin-top: 0;
}
.blogPost a {
    color: var(--goss_skinpurple)
}
.blogPost p {
    text-indent: 50px;
}

.topLink {
    text-indent: 0;
    text-align: right;
}

.introHeader {
    background-color: var(--goss_pink);
    color: var(--goss_darkteal);
    border: 5px solid var(--goss_lightteal);

    max-width: 25%;
    padding: 1%;
}
.introHeader h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}



::-webkit-scrollbar{
    background: var(--goss_pink);
}
::-webkit-scrollbar-thumb{
    border: 1px solid var(--goss_pink);
    background: var(--goss_darkteal);
}
::-webkit-scrollbar-button{
    border: 1px solid var(--goss_pink);
    background: var(--goss_darkteal);
}