:root {
    --goss_darkteal: #007899;
    --goss_teal: #159391;
    --goss_pink: #ff80a4;
    --goss_shadepink: #ff5e94;
    --goss_hotpink: #ff2674;
    --goss_skyblue: #68aed4;
    --goss_angelblue: #1e398f;
    --goss_nightblue: #192752;
    --goss_lightteal: #10d275;
    --goss_skinpurple: #94216a;
    --goss_darkpurple: #430067;
    --goss_darkgrey: #272c2f;

    --color_main_bg: #0e5348;
    --color_post_bg: #1f796a;
    --color_post_outline: #06332b;
    --color_post_text: #744f0c;
    --color_link: #04314b;
    --color_link_click: #0c5f74;
}

html {
    background-color: var(--color_main_bg);

    font-size: 150%;
    font-weight: bold;
}

body {
    color: var(--color_post_bg);
    margin-left: 5%;
}

h1, h2, h4 {
    text-decoration: overline;
}

a h3 {
    text-decoration: overline;
}

a {
    text-decoration: overline;
    color: var(--color_link);
}
a:visited {
    color: var(--color_link_click);
}

.mainPost {
    background-color: var(--color_post_bg);
    color: var(--color_post_outline);
    border: 5px solid var(--color_post_outline);

    max-width: 50%;
    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.mainPost h2 {
    margin-top: 0;
}
.mainPost h3 {
    font-style: italic;
    margin-bottom: 0;
}
.mainPost a {
    color: var(--color_link);
}

.blogPost {
    background-color: var(--color_post_bg);
    color: var(--color_post_outline);
    border: 5px solid var(--color_post_outline);

    max-width: 50%;
    min-width: 50%;
    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.blogPost h2 {
    margin-bottom: 0;
}
.blogPost h3 {
    font-style: italic;
    margin-top: 0;
}
.blogPost a {
    color: var(--color_link);
}
.blogPost p {
    text-indent: 50px;
}

.topLink {
    text-indent: 0;
    text-align: right;
}

.introHeader {
    background-color: var(--color_post_bg);
    color: var(--color_post_outline);
    border: 5px solid var(--color_post_outline);

    max-width: 25%;
    padding: 1%;
}
.introHeader h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}



::-webkit-scrollbar{
    background: var(--color_post_bg);
}
::-webkit-scrollbar-thumb{
    border: 1px solid var(--color_main_bg);
    background: var(--color_post_bg);
}
::-webkit-scrollbar-button{
    border: 1px solid var(--color_main_bg);
    background: var(--color_post_bg);
}