:root {
    --goss_darkteal: #007899;
    --goss_teal: #159391;
    --goss_pink: #ff80a4;
    --goss_shadepink: #ff5e94;
    --goss_hotpink: #ff2674;
    --goss_skyblue: #68aed4;
    --goss_angelblue: #1e398f;
    --goss_nightblue: #192752;
    --goss_lightteal: #10d275;
    --goss_skinpurple: #94216a;
    --goss_darkpurple: #430067;
    --goss_darkgrey: #272c2f;

    --color_dump: #000000;
    --color_main_bg: #9eac53;
    --color_main_bg2: #bad58e;
    --color_title_text: #3c5315;
    --color_post_bg: #f6a6df;
    --color_post_outline: #82306b;
    --color_post_text: #62528a;
    --color_link: #1e3403;
    --color_link_click: #404d37;
    --color_links_bg: #d08dc8;
}

html {
    background-color: var(--color_main_bg2);

    font-size: 150%;
    font-weight: bold;
}

body {
	text-align: center;
    color: var(--color_title_text);
    margin-left: 5%;
    margin-right: 5%;
}

h1, h2, h4 {
    text-decoration: overline;
}

a h3 {
    text-decoration: overline;
}

a {
    text-decoration: overline underline;
    color: var(--color_link);
}
a:visited {
    color: var(--color_link_click);
}

.mainPost {
    background-color: var(--color_post_bg);
    color: var(--color_post_text);
    border: 5px solid var(--color_post_outline);

    max-width: 50%;
    min-width: 400px;
    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.mainPost h2 {
    margin-top: 0;
}
.mainPost h3 {
    font-style: italic;
    margin-bottom: 0;
}
.mainPost a {
    color: var(--color_link);
}

.blogPost {
    background-color: var(--color_post_bg);
    color: var(--color_post_text);
    border: 5px solid var(--color_post_outline);

    max-width: 1000px;
    min-width: 400px;
    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.blogPost h2 {
    margin-bottom: 0;
}
.blogPost h3 {
    font-style: italic;
    margin-top: 0;
}
.blogPost a {
    color: var(--color_link);
}
.blogPost p {
	text-align: justify;
    text-indent: 50px;
}

.topLink {
    text-indent: 0;
    text-align: right;
}

.introHeader {
	margin: 0 auto;
    background-color: var(--color_post_bg);
    color: var(--color_post_text);
    border: 5px solid var(--color_post_outline);
    padding: 1%;
}
.introHeader h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.introHeader h3 a {
    background-color: var(--color_links_bg);
}



::-webkit-scrollbar{
    background: var(--color_post_bg);
}
::-webkit-scrollbar-thumb{
    border: 1px solid var(--color_post_bg);
    background: var(--color_post_text);
}
::-webkit-scrollbar-button{
    border: 1px solid var(--color_post_bg);
    background: var(--color_post_text);
}